.steps-header__container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps-header__container-col {
    display: flex;
    justify-content: center;
    height: 100%;
}

.steps-header__check-icon-activated {
    color: green;
    width: 8vw;
    height: 100%;
}

.steps-header__check-icon-desactivated {
    width: 8vw;
    height: 100%;   
}

.steps-header__row-dash-symbol-style {
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.steps-header__row-check-style {
    display: flex;
    align-items: center;
}